body{
    background-color: #E4F1FE;
    min-height: 150px;
}

#login{
    margin-top: 20vh;
}

#users > img {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#users > img:last-child {
    margin-bottom: 10px;
}

#users {
    height: 100vh;
    min-height: 346px;
    overflow-y: scroll;
    background-color: #22313F;
    text-align: center;
}

.content {
    height: 70vh;
    min-height: 200px;
    background-color: #E4F1FE;
    overflow-y: scroll;
}

.tchat {
    height: 30vh;
    min-height: 130px;
    background-color: #34495E;
}

.msg{
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-bottom-width: 3px;
    margin-top: 10px;
    padding-top: 5px;
}

.msg > p {
    margin-top: 10px;
}

h4{
    display: inline;
    color: #34495E;
}

.msg > h4+p{
    display: inline;
    font-size: 10px;
    color: #34495E;
    padding-left: 20px;
    float: right;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 0;
}

hr{
    margin: 10px 0;
    border-color: #E4F1FE;
}